header h1 {
    width: 300px center;
    align-items: center;
    margin: 40px auto;
    background-color: rgb(47, 183, 218);
    padding: 1.5rem;
    color: #f2f6f8;
}

main h1 {
    clear: both;
}
h3 {
    font-family: 'Fjalla One', sans-serif;
}
ul li{
    font-family: 'Source Code Pro', monospace;
}
main div {
    margin: 20px left;
}
header img{
    float: right;
    padding: 5px;
}
footer{
    width: 200px center;
    margin: 7px auto;
    background-color: rgb(47, 183, 218);
    padding: 0.2rem;
    color: #f2f6f8;
    text-align: center;
    clear: both;
}