header, footer {
    margin: 0 auto;
    background-color: rgb(47, 183, 218);
    padding: 0.75rem;
    max-width: 45rem;
    color: #f2f6f8;
}

h3 {
    font-family: 'Fjalla One', sans-serif;
}
ul li{
    font-family: 'Source Code Pro', monospace;
}
main div {
    margin: 20px left;
}
header img{
    float: right;
    padding: 5px;
}
