header h1 {
    width: 960px center;
    align-items: center;
    margin: 50px auto;
    background-color: rgb(47, 183, 218);
    padding: 3rem;
    color: #f2f6f8;
}

main h1 {
    clear: both;
}
main div {
    margin: 20px left;
}
header img{
    float: right;
    padding: 2px;
}
footer{
    width: 960px center;
    margin: 50px auto;
    background-color: rgb(47, 183, 218);
    padding: 1rem;
    color: #f2f6f8;
    text-align: center;
    clear: both;
}