@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: rgb(82, 82, 77);
	}
	main {
		margin: 0 auto;
		max-width: 780px;
	}
	.hero{
		max-width: 100%;
	}
	
	.forecastContainer {
        display: block;
        text-align: center;
        margin: 20px;
    }
    .forecastContainer h2 {
        margin: 0;
    }
    .forecast {
        max-width: 500px;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin: 0 auto;
        padding: 15px;
	}
	.contact {
		display: block;
		}
	.contact iframe {
		float: left;
		display: block;
		width: 50%;
		height: 200px;
		
		}
		.social {
			display: block;
		}
    .days {
        background-color: rgb(91, 187, 131);
        color: whitesmoke;
        font-size: 1rem;
        border: thin solid #02182B;
    }
    .weather {
        border-left: thin solid #02182B;
        border-right: 1px solid #02182B;
    }
    .temp {
        background-color: rgb(91, 187, 131);
        color: whitesmoke;
        border: thin solid #02182B;
	}
	.article img {
		float: left;
		width: 50%;
		height: 250px;
		margin-right: 10px;
		}
		.article, .contact {
			margin-right: 15px;
		}
	.map{
		display: flex;
	}
	
}
