
nav {
	margin: 0 auto;
	max-width: 780px;
	background-color: #06eb9f;
}
.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li, .contact li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
}
.navigation a:hover {
	color: rgb(15, 72, 87);
	background-color: #fff;
	font-weight: 700;
}
.active {
	color: rgb(231, 223, 223);
	background-color: blueviolet;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}

.article, .contact {
	text-align: center;
	border: 1px solid #0713c4;
	background-color: rgb(50, 163, 238);
	margin-top: 10px;
	margin: 5rem auto;
}

.article img {
	display: block;
    width: 70%;
	margin-right: auto;
	margin-left: auto;
    }

body {
	padding: 0;
    margin: 0px auto;
	}
	div.showme {
		display: block;
	}
	div.hideme {
		display: none
	}
.hero {
	margin: 0 auto;
	position: relative;
}
.heroImage {
	width: 98%;
	margin: 0 0 0 1%;
}
.heroImage img {
	width: 100%;
}
.summary {
	position: absolute;
	top: 10px;
	left: 30px;
	font-size: .8rem;
	background: radial-gradient(#eee, #1b62f0);
	border: 0.7px solid #000;
	padding: 1rem;
	box-shadow: 0 0 2px #111;
	opacity: .8;
}
.forecastContainer {
	display: none;
	}
.contact iframe {
	display: none;
}

main h2 {
	font-size: 1.2px;
font-family: 'Work Sans', sans-serif;
text-align: center;
}


header, footer {
	background-color: rgb(71, 135, 151);
	padding: 5px 0;
	display: flex;
	align-items:center;
    justify-content:center;
    max-width: 100%;
	margin: 0 auto;
	margin-top: 10px;
}

#message {
	margin: 10px auto;
	padding: 10px;
	background-color: rgb(160, 221, 45);
	text-align: center;
}
header img {
	width: 80px;
	height: auto;
}


.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
    margin: 0 0 0 17px;
    font-family: 'Merriweather', serif;
}

.h {
	font-style: italic;
	letter-spacing: 1pt;
	color: rgb(22, 228, 22);
	margin-left: 20px;
	font-size: .9rem;
}
footer {
    flex-direction: column;
    }
footer p {
    padding: 10px;
    margin: 0 auto;
}
.maininfo {
    display: block;
    margin: 10px;
    padding: 12px;
    border: 2px dotted rgb(38, 27, 136);
    font-family: 'Work Sans', sans-serif;
}
