@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: rgb(247, 247, 240);
	}
	
	.contact {
		display: block;
		}
	.contact picture {
		max-width: 50%;
		padding: 2%;
	}
	.contacting {
		max-width: 50%;
	}
	.contacting img {
		display: flex;
		float: right;
		width: 45%;
		max-height: 210px;
		margin-right: 3%;
		margin-top: 1%;
	
	}
		.social {
			display: block;
		}
    
    .weather {
        border-left: thin solid #02182B;
        border-right: 1px solid #02182B;
    }
    .temp {
        background-color: rgb(91, 187, 131);
        color: whitesmoke;
        border: thin solid #02182B;
	}
	.container {
		display:grid; 
	    grid-template-columns: 1fr 1fr; 
	    max-width: 98%;
	}
	.map{
		display: flex;
	}
	.container img {
		width: 100%;
		height: auto;
	}
	.cards {
		display:grid;
		grid-template-columns: 1fr;
		grid-gap: 2px;
		border: none;
    }

    .cards section {
        display:grid;
        grid-template-columns: 1fr 1fr;
	}
	.cards section div {
		display: block;
		justify-content:center;
		align-items:center;
		margin-top: 5%;
	}
	.cards section picture {
		max-width: 80%;
	}
	.cards img {
		max-width: 100%;

	}
    
    div.cards section:nth-child(2) :nth-child(1) { order: 2; }
	div.cards section:nth-child(2) :nth-child(2) { order: 1; }
	/*.article {
		display: flex;*/
	
	.articleimage {
		width: 50%;
		margin: 0 2% 0 2% ;
		float: left;
	}
	.article div {
		display: block;
	}
	.article img {
		float: left;
		max-width: 50%;
		padding: 2%;
	}
	.articleimage img {
		max-width: 100%;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.article p, .mainarticle p {
		font-size: 1.1rem;
	}
	.hero{
		max-width: 90%;
		margin: 5% auto;
	}
	.heroImage img {
		max-width: 70% auto;
	}
	
	.forecastContainer {
        display: block;
        text-align: center;
        margin: 20px;
    }
    .forecastContainer h2 {
        margin: 0;
    }
    .forecast {
        max-width: 500px;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin: 0 auto;
        padding: 15px;
	}
	.days {
        background-color: rgb(91, 187, 131);
        color: whitesmoke;
        font-size: 1rem;
        border: thin solid #02182B;
    }
    .weather {
        border-left: thin solid #02182B;
        border-right: 1px solid #02182B;
    }
    .temp {
        background-color: rgb(91, 187, 131);
        color: whitesmoke;
        border: thin solid #02182B;
	}

	}
	

